<mat-sidenav-container class="viewer-sidenav-container">
  <mat-sidenav #sidenav class="viewer-sidenav" tabindex="-1" [mode]="mode" [opened]="opened" style="transform: translate3d(0px, 0px, 0px);">
    <nav>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active"><mat-icon>dashboard</mat-icon> 日本</a>
        </li>
        <li>
          <a routerLink="/world" routerLinkActive="active"><mat-icon>dashboard</mat-icon> 世界</a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <div cdk-scrollable>
    <div class="sidenav-content">
      <app-page-header></app-page-header>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</mat-sidenav-container>
